[secretx500@gmail.com]
source        = imaps://secretx500%40gmail.com:{{ .secretx500_gmail_password }}@imap.gmail.com:993
outgoing      = smtps://secretx500%40gmail.com:{{ .secretx500_gmail_password }}@smtp.gmail.com:465
default       = INBOX
from          = secret <secretx00@gmail.com>
cache-headers = true

[secretx500@88.com]
source        = imaps://secretx500%4088.com:{{ .secretx500_88com_password }}@imap.88.com:993
outgoing      = smtps://secretx500%4088.com:{{ .secretx500_88com_password }}@smtp.88.com:465
default       = INBOX
from          = secret <secretx500@88.com>
cache-headers = true

[secretx500@111.com]
source        = imaps://secretx500%40111.com:{{ .secretx500_111com_password }}@imap.111.com:993
outgoing      = smtps://secretx500%40111.com:{{ .secretx500_111com_password }}@smtp.111.com:465
default       = INBOX
from          = secret <secretx500@111.com>
cache-headers = true

[secretx500@email.cn]
source        = imaps://secretx500%40email.cn:{{ .secretx500_email_cn_passwd }}@imap.email.cn:993
outgoing      = smtps://secretx500%40email.cn:{{ .secretx500_email_cn_passwd }}@smtp.email.cn:465
default       = INBOX
from          = secret <secretx500@email.cn>
cache-headers = true

[secretx500@qq.com]
source        = imaps://secretx500%40qq.com:{{ .secretx500_qqcom_password }}@imap.qq.com:993
outgoing      = smtps://secretx500%40qq.com:{{ .secretx500_qqcom_password }}@smtp.qq.com:465
default       = INBOX
from          = secret <secretx500@qq.com>
cache-headers = true

[rustdev@qq.com]
source        = imaps://rustdev%40qq.com:{{ .rustdev_qqcom_password }}@imap.qq.com:993
outgoing      = smtps://rustdev%40qq.com:{{ .rustdev_qqcom_password }}@smtp.qq.com:465
default       = INBOX
from          = secret <rustdev@qq.com>
cache-headers = true

[secretx5000@qq.com]
source        = imaps://secretx5000%40qq.com:{{ .secretx5000_qqcom_password }}@imap.qq.com:993
outgoing      = smtps://secretx5000%40qq.com:{{ .secretx5000_qqcom_password }}@smtp.qq.com:465
default       = INBOX
from          = secret <secretx5000@qq.com>
cache-headers = true

[secretx500@aliyun.com]
source        = imaps://secretx500%40aliyun.com:{{ .secretx500_aliyun_password }}@imap.aliyun.com:993
outgoing      = smtps://secretx500%40aliyun.com:{{ .secretx500_aliyun_password }}@smtp.aliyun.com:465
default       = INBOX
from          = secret <secretx500@aliyun.com>
cache-headers = true

[liaohui5@aliyun.com]
source        = imaps://liaohui5%40aliyun.com:{{ .secretx500_aliyun_password }}@imap.aliyun.com:993
outgoing      = smtps://liaohui5%40aliyun.com:{{ .secretx500_aliyun_password }}@smtp.aliyun.com:465
default       = INBOX
from          = secret <liaohui5@aliyun.com>
cache-headers = true
