[cstcloud]
type = s3
provider = Other
access_key_id = {{ .cstcloud_access_key_id }}
secret_access_key = {{ .cstcloud_access_key_secret }}
endpoint = s3.cstcloud.cn
acl = private
bucket_object_lock_enabled = true

[idrive-e2]
type = s3
provider = IDrive
access_key_id = {{ .idrive_e2_access_key_id }}
secret_access_key = {{ .idrive_e2_access_key_secret }}
acl = private
bucket_object_lock_enabled = true
endpoint = s3.ap-northeast-1.idrivee2.com

[koofr]
type = koofr
provider = koofr
user = {{ .koofr_user }}
password = {{ .koofr_pass }}

[koofr-webdav-google-driver]
type = webdav
pass = {{ .koofr_google_drive_pass }}
url = https://app.koofr.net/dav/Google Drive
user = {{ .koofr_user }}
vendor = other

[koofr-onedriver]
type = webdav
url = https://app.koofr.net/dav/OneDrive
vendor = other
user = {{ .koofr_user }}
pass = {{ .koofr_onedriver }}

[aliyun-oss]
type = s3
acl = private
storage_class = STANDARD
bucket_object_lock_enabled = true
provider = Alibaba
access_key_id = {{ .aliyun_oss_access_key_id }}
secret_access_key = {{ .aliyun_oss_access_key_secret }}
endpoint = oss-cn-shenzhen.aliyuncs.com

[upcdn-oss]
type = s3
provider = Other
endpoint = s3.api.upyun.com
region = ap-east-1
acl = private
bucket_object_lock_enabled = true
access_key_id = {{ .upcdn_oss_access_key_id }}
secret_access_key = {{ .upcdn_oss_access_key_secret }}

[pcloud-webdav]
type = webdav
vendor = other
url = https://webdav.pcloud.com
user = {{ .pcloud_webdav_user }}
pass = {{ .pcloud_webdav_pass }}

[open-drive]
type = opendrive
username = {{ .open_drive_user }}
password = {{ .open_drive_pass }}

[pikpak]
type = pikpak
user = {{ .pikpak_user }}
pass = {{ .pikpak_pass }}
device_id = {{ .pikpak_device_id }}
captcha_token = {"captcha_token":"{{ .pikpak_captcha_token }}","expires_in":300,"expiry":"2026-06-09T21:15:41.832155+08:00"}
token = {"access_token":"{{ .pikpak_access_token }}","token_type":"Bearer","refresh_token":"{{ .pikpak_refresh_token }}","expiry":"2026-06-09T23:10:39.903861+08:00","expires_in":7200}

[imagekit]
type = imagekit
endpoint = https://ik.imagekit.io/secretx500
public_key = {{ .imagekit_public_key }}
private_key = {{ .imagekit_private_key }}

[seafile-cloud]
type = seafile
url = https://cloud.seafile.com/
user = {{ .seafile_cloud_user }}
pass = {{ .seafile_cloud_pass }}

[huawei-cloud-obs]
type = s3
endpoint = obs.cn-south-1.myhuaweicloud.com
acl = private
bucket_object_lock_enabled = false
provider = HuaweiOBS
region = cn-south-1
access_key_id = {{ .huawei_cloud_obs_access_key_id }}
secret_access_key = {{ .huawei_cloud_obs_secret_access_key }}

[hi168-cloud-oss]
type = s3
region =
endpoint = https://s3.hi168.com
acl = private
bucket_object_lock_enabled = false
provider = Other
access_key_id = {{ .hi168cloud_access_key_id }}
secret_access_key = {{ .hi168cloud_secret_access_key }}

[railway-oss]
type = s3
provider = Other
region = auto
endpoint = https://t3.storageapi.dev
location_constraint =
acl = private
access_key_id = {{ .railway_access_key_id }}
secret_access_key =  {{ .railway_access_secret_access_key }}

[bitiful-oss]
type = s3
bucket_object_lock_enabled = false
provider = Other
endpoint = https://s3.bitiful.net
region = cn-east-1
acl = private
location_constraint = cn-east-1
access_key_id = {{ .bitiful_access_key_id }}
secret_access_key = {{ .bitiful_secret_access_key }}

[oracle-oss]
type = s3
access_key_id = {{ .oracle_oss_access_key_id }}
secret_access_key = {{ .oracle_oss_secret_access_key }}
region =
endpoint = https://nrfvqqzl7x1v.compat.objectstorage.ap-tokyo-1.oci.customer-oci.com
acl = private
provider = Other

[cloudflare-r2]
type = s3
endpoint = https://9cfadefd85d0b56b6a7c0363b4997888.r2.cloudflarestorage.com
provider = Cloudflare
access_key_id = {{ .cloudflare_r2_access_key_id }}
secret_access_key = {{ .cloudflare_r2_secret_access_key }}
env_auth = false
acl = private

[1Fichier]
type = fichier
api_key = {{ ._1fichier_api_key }}

[mega-secretx500-88com]
type = mega
user = secretx500@88.com
pass = hSG8B-DI7cHaVNCiFGLnuOHy9-R60dSyT4dts6-yEg
session_id = daxTVKj13Z6ZXKWwy0m9l3BTQmVwcU5pMmpzZbj6kqNtp8_Qh4HRBcwUEA
master_key = HWtmxCqxJb8GC2el2dvgcg==

[mega-secretx500-outlook]
type = mega
user = secretx500@outlook.com
pass = 0XHzUnqXqQsl4Hprb4psBCG5NvCigxJlGa94gvxraw
session_id = x2amM3CGqjXdxh240yFTx0hPMDV4VnZxN0g0HoVFWWLC_VHgMICnA1gW9A
master_key = iiwN/1L8giuwBLZiyKX06Q==

[mega-secretx500-gamil]
type = mega
user = {{ .mega_driver_user3 }}
pass = {{ .mega_driver_pass3 }}
session_id = {{ .mega_driver_session_id3 }}
master_key =  {{ .mega_driver_master_key3 }}

[mega-secretx500-111com]
type = mega
user = {{ .mega_driver_user4 }}
pass = {{ .mega_driver_pass4 }}
session_id = {{ .mega_driver_session_id4 }}
master_key = {{ .mega_driver_master_key4 }}

[cloudinary-gmail]
type = cloudinary
cloud_name = dw7kjkhjt
api_key = {{ .cloudinary_gmail_api_key }}
api_secret = {{ .cloudinary_gmail_api_secret }}
upload_prefix = https://api-ap.cloudinary.com/v1_1/

[cloudinary-github-liaohui6]
type = cloudinary
cloud_name = dtrz2f8vo
upload_prefix = https://api-ap.cloudinary.com/v1_1/
api_key = {{ .cloudinary_gh_liaohui6_api_key }}
api_secret = {{ .cloudinary_gh_liaohui6_api_secret }}

[cloudinary-github-liaohui5]
type = cloudinary
cloud_name = dvstmpl9g
upload_prefix = https://api-ap.cloudinary.com/v1_1/
api_secret = {{ .cloudinary_gh_liaohui5_api_secret }}
api_key = {{ .cloudinary_gh_liaohui5_api_key }}

[cloudinary-github-secretx500]
type = cloudinary
cloud_name = ds52ol32a
upload_prefix = https://api-ap.cloudinary.com/v1_1/
api_key = {{ .cloudinary_gh_secretx500_api_key }}
api_secret = {{ .cloudinary_gh_secretx500_api_secret }}

[cloudinary-secretx500-88com]
type = cloudinary
upload_prefix = https://api-ap.cloudinary.com/v1_1/
cloud_name = cmabyrz1
api_key = {{ .cloudinary_88com_api_key}}
api_secret = {{ .cloudinary_88com_api_secret }}

[cloudinary-secretx500-111com]
type = cloudinary
cloud_name = vv4ckwv9
upload_prefix = https://api-ap.cloudinary.com/v1_1/
api_key = {{ .cloudinary_111com_api_key }}
api_secret = {{ .cloudinary_111com_api_secret }}

[cloudinary-secretx500-emailcn]
type = cloudinary
cloud_name = ijmufg3r
upload_prefix = https://api-ap.cloudinary.com/v1_1/
api_key = {{ .cloudinary_emailcn_api_key }}
api_secret = {{ .cloudinary_emailcn_api_secret }}

[cloudinary-secretx500-qqcom]
type = cloudinary
cloud_name = iqx9hiww
upload_prefix = https://api-ap.cloudinary.com/v1_1/
api_key = {{ .cloudinary_qqcom_api_key }}
api_secret = {{ .cloudinary_qqcom_api_secret }}

[cloudinary-secretx5000-qqcom]
type = cloudinary
cloud_name = uirdqkqp
upload_prefix = https://api-ap.cloudinary.com/v1_1/
api_key = {{ .cloudinary_qqcom2_api_key }}
api_secret = {{ .cloudinary_qqcom2_api_secret }}

[cloudinary-liaohui5-aliyuncom]
type = cloudinary
cloud_name = uw742hjh
upload_prefix = https://api-ap.cloudinary.com/v1_1/
api_key = {{ .cloudinary_aliyun_api_key }}
api_secret = {{ .cloudinary_aliyun_api_secret }}

[cloudinary-secretx500-aliyuncom]
type = cloudinary
cloud_name = l7he1t3c
upload_prefix = https://api-ap.cloudinary.com/v1_1/
api_key = {{ .cloudinary_aliyun2_api_key }}
api_secret = {{ .cloudinary_aliyun2_api_secret }}

[cloudinary-secretx500-sinacom]
type = cloudinary
cloud_name = qhospfle
upload_prefix = https://api-ap.cloudinary.com/v1_1/
api_key = {{ .cloudinary_sina_api_key }}
api_secret = {{ .cloudinary_sina_api_secret }}

[123netdisk-webdav]
type = webdav
url = https://webdav.123pan.cn/webdav
vendor = other
user = {{ ._123netdisk_webdav_user }}
pass = {{ ._123netdisk_webdav_pass }}

[oracle-webav]
type = webdav
vendor = other
url = https://oraclewebdav.liaohui5.cn/
user = {{ .oracle_webdav_user }}
pass = {{ .oracle_webdav_pass }}

[selfhosted-webdav]
type = webdav
user = {{ .selfhosted_webdav_user }}
pass = {{ .selfhosted_webdav_pass }}
url = https://webdav.liaohui5.cn
vendor = other
