{
  "openAIToken": "{{ .czg_openai_key }}",
  "apiEndpoint": "https://wanqing.streamlakeapi.com/api/gateway/v1/endpoints",
  "apiModel": "ep-ujc2w4-1784568483434425374",
  "upperCaseSubject": false,
}
